.box{
    background-color: aqua;
    
}
.box1{
    padding:20px;
    border:3px solid greenyellow;
    margin:10px;
    background-color: brown;
}
.box2{
    padding:20px;
    border:3px solid greenyellow;
    margin:40px;
    background-color: blueviolet;  
          
}